body {
  margin: 0;
  color: #000;
  font-family: "Helvetica Neue" sans-serif;
}

header {
  background-color: #993300;
  color: #fff;
  padding: 40px;
  font-size: 30px;
  border-top: 10px solid #997700;
}
